---
import Layout from '../layouts/Layout.astro';
import AnimatedName from '../components/AnimatedName.tsx';

---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<title>Moritz Harms | Animation</title>
		<style>
			body {
				background-color: #050505; /* Dunkler Hintergrund sieht bei Signaturen meist besser aus */
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100vh;
				margin: 0;
			}
			.container {
				width: 80%;
				max-width: 2000px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<AnimatedName client:load />
		</div>
	</body>
</html>
